form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea,
form input[type='date'] {
  border-radius: 8px;
  border: 1px solid var(--color-gray);
  background: transparent;
  padding: 0.4em 1em 0.4em 1em;
  width: 100%;
  margin-bottom: 1em;
  color: white;
}

form input:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}

form input::placeholder {
  color: var(--color-gray);
}

form textarea {
  resize: vertical;
  min-height: 7em;
}

form label {
  margin-bottom: 0.2em;
}
